:root {
    --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html{
    line-height: 1.5;
    tab-size: 4;
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    margin: 70px auto;
    max-width: 1100px;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.1rem;
    margin-top: 60px;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

/* STILL HAVE TO MODIFY THE ANIMATION
    DEBUG -> dOUBLE LINE ON links
*/
a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: currentColor;
    transition: width var(--transition);
    border-radius: 2px;
}

li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background: currentColor;
    transition: width var(--transition);
    border-radius: 1px;
}

a:hover::after{
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 190px 1fr;
    column-gap: 60px;
    max-width: 1000px;
}

.content {
    max-width: 36rem;
}

.sideBar {
   font-size: 0.9rem;
   border-right: 2px solid #ddd;
   padding-right: 40px;
   margin-left: 33px;
   position: sticky;
   top: 70px;
   height: fit-content;
}

.sideBar p {
    margin-bottom: 8px;
    opacity: 0.6;
}

.sideBar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.sideBar li {
    margin-bottom: 8px;
}

.socialLinks {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}