:root {
    --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html{
    line-height: 1.5;
    tab-size: 4;
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    margin: 70px auto;
    max-width: 1100px;
}

h1 {
    line-height: 0.8;
}

h1 .name {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0px;
}

h1 .handle {
    font-size: 1rem;
    opacity: 0.5;
    margin-top: 0px;
}

h2 {
    font-size: 1.1rem;
    margin-top: 60px;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background: currentColor;
    transition: width var(--transition);
    border-radius: 1px;
}

a.boldLink:hover{
    font-weight: bold;
}

a.boldLink::after{
    height: 2px;
    border-radius: 2px;
}

a:hover::after{
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 190px 1fr;
    column-gap: 60px;
    max-width: 1000px;
}

.content {
    max-width: 36rem;
}

.sideBar {
   font-size: 0.9rem;
   border-right: 2px solid #ddd;
   padding-right: 40px;
   margin-left: 33px;
   position: sticky;
   top: 70px;
   height: fit-content;
}

.sideBar p {
    margin-bottom: 8px;
    opacity: 0.6;
}

.sideBar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.sideBar li {
    margin-bottom: 8px;
}

.socialLinks {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    list-style: none;
    padding: 0;
}

section ul {
    list-style: none;
    padding-left: 0;
}

section ul li {
    position: relative;
    padding-left: 35px;
}

section ul li::before {
    content: ">> ";
    position: absolute;
    left: 0;
    transition: transform 0.2s ease;
}

section ul li:hover::before{
    transform: translateX(4px);
}

.nodeList {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nodeList li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 6px;
}

/* Default connector */
.nodeList li::before {
    content: "├─";
    position: absolute;
    left: 0;
    opacity: 0.7;
}

/* Last item connector */
.nodeList li.last::before {
    content: "└─";
}

.pfp {
    display: block;
    margin: 0 auto 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #333;
    filter: grayscale(100%);
    transition: filter var(--transition), transform var(--transition);
    object-fit: cover;
}

.pfp:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}